@font-face {
    font-family: 'TT Norms Bold';
    font-style: normal;
    font-weight: normal;
    src: local('TT Norms Bold'), url('assets/font/TTNorms-Bold.woff') format('woff');
}
*{
    box-sizing: border-box;
}
.container login{
    padding: 20px 40px;
    border-radius: 5px;
    font-family: 'TT Norms Bold';
}
.container h1{
    text-align: center;
    margin-bottom:30px; 
}
.container a{
    text-decoration: none;
    color:lightblue;
}
.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: lightblue;
    font-size: 20px;
    font-family: 'TT Norms Bold';
    color: #ffffff;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}
.form-control{
    position: relative;
    margin:20px 0 40px;
    width:300px;
}

.form-control input{ 
    background-color: transparent;
    border:0;
    border-bottom: 2px lightblue solid;
    display: block;
    width:100%;
    padding: 15px 0;
    font-size: 18px;

}

.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}
.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color:#567aa7;
    transform: translateY(-30px);
}
.btn:hover{
    background-color: #567aa7;
    color: #ffffff;
}